.top-page
  .top-page__top-images
    = image_tag("/IMG_8452.jpeg", class: 'top-page__top-image-1')
    = image_tag("/IMG_8457.jpeg", class: 'top-page__top-image-2')
    = image_tag("/IMG_8461.jpeg", class: 'top-page__top-image-3')
  %p.top-page__title Family Album
  = link_to 'Sign up', '#', class: "top-page__btn-1"
  = link_to 'Log in', '', class: "top-page__btn-2"
  .top-page__bottom-images
    = image_tag("/IMG_8460.jpeg", class: 'top-page__bottom-image-1')
    = image_tag("/IMG_8466.jpeg", class: 'top-page__bottom-image-2')
    = image_tag("/IMG_8476.jpeg", class: 'top-page__bottom-image-3')